<a href="{{action}}" class="merch-action">
  <img src="{{image}}" alt="{{text}}"
      {{! Limits the size of 2x images to 1x size }}
      {{#if height}}style="max-height: {{height}}px"{{/if}}>
</a>
