// ---------------------------------------------------------------------------
// Susy Settings

// The total number of columns in the grid
$total-columns = 12

// The width of columns and gutters.
// These must all be set with the comparable units.
$column-width = 60px
$gutter-width = 20px

// Padding on the left and right of a Grid Container.
// $grid-padding = $gutter-width
$grid-padding = 10px

// ---------------------------------------------------------------------------
// Advanced Settings

// From Direction:
// Controls for right-to-left or bi-directional sites.
$from-direction = 'left'

// Omega Float Direction:
// The direction that +omega elements are floated by deafult.
$omega-float = opposite-position($from-direction)

// Container Width:
// Override the total width of your grid, using any length (50em, 75%, etc.)
$container-width = false

// Container Style:
// 'magic'  - Static (fixed or elastic) when there's enough space,
//            fluid when there isn't. This is the SUSY MAGIC SAUCE(TM).
// 'static' - Forces the grid container to remain static at all times.
// 'fluid'  - Forces the grid to remain fluid at all times.
//            (this will overrule any static $container-width settings)
$container-style = 'fluid'

