at-text()
  color transparent !important  /* Lazy hammer! Make sure that any other styles do not override */
  text-shadow none
  white-space nowrap
  line-height 0
  font-size 1px
  overflow hidden

off-left()
  position absolute
  top -1px
  height 1px
  width 1px
  at-text()

fix-touch-scrolling()
  // This is required to work around a bug that occurs when maps is hit on iOS devices.
  // If this is not applied the contents of the the touch overflow scrolling section the
  // content will be clipped on scroll
  //
  // http://stackoverflow.com/questions/7808110/css3-property-webkit-overflow-scrollingtouch-error
  // http://stackoverflow.com/a/7893031/238459
  transform translate3d(0, 0, 0)

// Derived from with http://cssarrowplease.com/
top-arrow(width, border-width, background-color, color, left=null, right=null)
  position relative
  background background-color
  border border-width solid color

  &:after
  &:before
    bottom 100%
    border solid transparent
    content " "
    height 0
    width 0
    position absolute
    pointer-events none
    if left
      left left
    else if right
      right right

  &:after
    border-color rgba(background-color, 0)
    border-bottom-color background-color
    border-width width
    margin-left -(width)

  &:before
    arrowWidth = width + round(border-width * cos(PI / 4) * 2)

    border-color rgba(color, 0)
    border-bottom-color color
    border-width arrowWidth
    margin-left -(arrowWidth)

