[data-view-name="dialog"]
  position absolute
  z-index 2
  display flex
  align-items center
  justify-content center
  background-color rgba(0, 0, 0, .75)
  top 0
  left 0
  right 0
  bottom 0
  > .body
    width 85%
    max-height 85%
    overflow-y scroll
    overflow-scrolling touch
    background-color #F0F0F0
    padding 6px
    border-radius $borderRadius
