[data-view-name="shelf/department-list"]
  position: relative
  clear: both
  background: #eee
  box-shadow: inset 0 5px 10px rgba(0,0,0,0.15)

  .filter-item
    position: relative
    padding: 12px 12px 10px
    
    &::after
      position: absolute
      content: " "
      right: 0
      left: 0
      bottom: 0
      height: 1px
      background: linear-gradient(left, #eee 0%, #d9d9d9 25%, #d9d9d9 75%, #eee 100%)

  .trigger
    display: none

  .name
    width: 100%
    padding-right: 60px
    font-size: 16px

    p
      margin: 0

  .count
    position: absolute
    top: -3px
    right: 12px
    color: $font-color

@media all and (min-width: 800px)
  [data-view-name="shelf/department-list"]
    margin: 0 0 12px
    background: none;
    box-shadow: none

    .name
      padding-left: 24px