[data-view-name="shelf/refinement-list"]
  position: relative
  clear: both
  background: #eee
  box-shadow: inset 0 5px 10px rgba(0,0,0,0.15)

  .refinement-category-btn
    position: relative
    display: block
    width: 100%
    height: 48px
    padding: 0 12px 0 36px
    background: none
    border: 0
    color: #444
    font-family: $font-family
    font-size: 16px
    text-align: left

    &::after
      position: absolute
      content: " "
      right: 0
      left: 0
      bottom: 0
      height: 1px
      background: linear-gradient(left, #eee 0%, #d9d9d9 25%, #d9d9d9 75%, #eee 100%)
    
    &::before
      position: absolute
      left: 12px
      content: "▼"
      font-size: 16px

  .closed .refinement-category-btn
    &::before
      left: 14px
      top: 14px
      content: "▶"
      font-size: 14px

  ul
    button
      position: relative
      display: block
      width: 100%
      padding: 12px
      background: none
      border: 0
      font-family: $font-family
      font-size: 16px
      text-align: left

      &::after
        position: absolute
        content: " "
        right: 0
        left: 0
        bottom: 0
        height: 1px
        background: linear-gradient(left, #eee 0%, #d9d9d9 25%, #d9d9d9 75%, #eee 100%)

    .name
      position: relative
      padding-right: 60px
      padding-left: 24px
      font-size: 16px

    .count
      position: absolute
      top: -3px
      right: 12px
      height: 48px
      line-height: 48px
      color: $font-color

  .selected-refinement-items, .refinement-item.selected
    .name::before
      position: absolute
      top: -4px
      left: 0
      width: 24px
      height: 24px
      background: #ccc
      border-radius: 50%
      content: ' '

  .refinement-category.closed
    .refinement-items
      display: none

@media all and (min-width: 800px)
  [data-view-name="shelf/refinement-list"]
    display: block !important // Should remove inline display: none
    margin: 12px
    background: none;
    box-shadow: none
