<nav class="sub-navigation department-navigation">
  <nav class="departments">
    <a class="breadcrumb departments-nav">DEPARTMENTS <i class="icon-reorder"></i></a>
    {{view nav}}
  </nav>
  <nav class="breadcrumbs">
    <a class="breadcrumb breadcrumb-home"><i class="icon-home"></i></a>
    <a class="breadcrumb">{{i18n "search.breadcrumb" expand-tokens=true}}</a>
  </nav>
</nav>