<span class="search-results-count"><span class="search-stats">{{totalCount}} RESULTS</span> FOR <span class="search-stats">"{{searchTerm}}"</span></span>
<div class="pagination-controls">
  <span class="search-results-page">PAGE <span class="search-stats">{{page}} OF {{numOfPages}}</span></span>
  <span class="button icon-caret-left page-previous"></span>
  <span class="button page-next"><icon class="icon-caret-right"></icon></span>
</div>
