<div class="columns">
  {{#each subs}}
    <div class="sub-department">
      <h2>
        {{this.name}}
      </h2>
      <ul>
        {{#each this.entries}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
  {{/each}}
</div>
