<div class="mailing-list">
  <img src="images/logo-alt.png" class="logo" />
  <form class="footer-mailing-form">
    <input class="footer-mailing-input" type="text" placeholder="Sign up for our Mailing List">
    <a class="button button-primary button-mailing-list-signup">Sign Up</a>
  </form>
</div>
<div class="links">
  <ul>
    <li>
      <a>Corporate</a>
    </li>
    <li>
      <a>Our Story</a>
    </li>
    <li>
      <a>New & Views</a>
    </li>
    <li>
      <a>Giving Back</a>
    </li>
    <li>
      <a>Global Responsibility</a>
    </li>
    <li>
      <a>Investors</a>
    </li>
    <li>
      <a>Suppliers</a>
    </li>
    <li>
      <a>Careers</a>
    </li>
  </ul>

  <ul>
    <li>
      <a>About Walmart.com</a>
    </li>
    <li>
      <a>Terms of Use</a>
    </li>
    <li>
      <a>Affiliate Program</a>
    </li>
    <li>
      <a>Sponsorship Submission</a>
    </li>
    <li>
      <a>International Customers</a>
    </li>
    <li>
      <a>About Our Ads</a>
    </li>
    <li>
      <a>Store Finder</a>
    </li>
    <li>
      <a>Printable Coupons</a>
    </li>
    <li>
      <a>Associate Discount</a>
    </li>
    <li>
      <a>Privacy & Security</a>
    </li>
    <li>
      <a>California Privacy Rights</a>
    </li>
    <li>
      <a>@WalmartLabs</a>
    </li>
    <li>
      <a>See All Departments</a>
    </li>
  </ul>

  <ul>
    <li>
      <a>Help Center</a>
    </li>
    <li>
      <a>Track Your Order</a>
    </li>
    <li>
      <a>Returns Policy</a>
    </li>
    <li>
      <a>Return an Item</a>
    </li>
    <li>
      <a>Product Recalls</a>
    </li>
    <li>
      <a>Contact Us</a>
    </li>
    <li>
      <a>Feedback</a>
    </li>
  </ul>

  <ul>
    <li>
      <a>Black Friday</a>
    </li>
    <li>
      <a>Cyber Monday</a>
    </li>
    <li>
      <a>Thanksgiving</a>
    </li>
    <li>
      <a>Laptops</a>
    </li>
    <li>
      <a>iPad and Tablets</a>
    </li>
    <li>
      <a>Appliances</a>
    </li>
    <li>
      <a>TVs</a>
    </li>
    <li>
      <a>Toys</a>
    </li>
    <li>
      <a>eGift Cards</a>
    </li>
    <li>
      <a>Best Sellers</a>
    </li>
    <li>
      <a>New Arrivals</a>
    </li>
    <li>
      <a>Top-Rated Items</a>
    </li>
  </ul>
  <div class="footer-feature">
    <h4>Walmart Money Center</h4>
  </div>
</div>
