<div class="header-logo">
  <a class="logo" href="{{url ""}}">Walmart</a>
</div>

{{view searchInput}}

{{#button "toggleSearch" class="search-toggle"}}Toggle Search{{/button}}

<nav class="header-actions">
  <a class="header-action" data-action="wishlists">
    <span>Create</span>
    a new wishlist
  </a><a class="header-action" data-action="login">
    <span>Sign In</span>
    to your account
  </a><a class="header-action" data-action="cart">
    <span>0 Items</span>
    in your cart
  </a>
</nav>
