<li class="sort-selector-label">Sort:</li><!--
--><li data-sort-value="TOPRATED"><span>Top Rated</span></li><!--
--><li data-sort-value="BESTSELLERS"><span>Best Sellers</span></li><!--
--><li data-sort-value="PRICE_LOHI"><span>Price</span></li>