<div class="crumbs">
  <span class="crumb">
    <a href="filter" class="crumb">{{i18n "Filter"}}</a>
  </span>
  <span class="crumb">
    <a class="label">{{i18n "Store Selector"}}</a>
  </span>
</div>
