<header class="search-results-header">
  <ul class="search-results-header-filters">
    <li>Show:</li>
    <li><a class="active" href="#">All</a></li>
    <li>Online</li>
    <li>Instore</li>
  </ul>
    <ul class="search-results-header-filters-pull-right">
      <li class="list active"><icon class="icon-th"></icon>List</li>
      <li class="grid"><icon class="icon-reorder"></icon>Grid</li>
      <li>
      <select>
        <option>
        Price Desc.
        </option>
      </select>
      </li>
  </ul>
</header>