*
  box-sizing: border-box

@font-face
  font-family: MyriadPro
  src: url("fonts/MyriadPro-Regular.otf") format("opentype")

@font-face
  font-family: MyriadPro
  font-weight: bold
  src: url("fonts/MyriadPro-Bold.otf") format("opentype")

html
  padding: 0

html, body
  margin: 0
  width: 100%

body
  font-family: MyriadPro
  font-size: 100%
  line-height: 1.6em
  color: $body-color
  -webkit-font-smoothing: antialiased
  user-select none