*
  box-sizing: border-box

@font-face
  font-family: MyriadPro
  src: url("fonts/MyriadPro-Regular.otf") format("opentype")

@font-face
  font-family: MyriadPro
  font-weight: bold
  src: url("fonts/MyriadPro-Bold.otf") format("opentype")

html
  padding: 0

html, body
  margin: 0
  width: 100%

body
  font-family: MyriadPro
  font-size: 100%
  line-height: 1.6
  color: $body-color
  -webkit-font-smoothing: antialiased
  user-select none

h1, h2, h3, h4, h5
  color: $header-color
  line-height: 1.1

h1, h2
  margin: 0 0 0.2em
  font-weight: normal

h3
  margin: 0 0 0.3em
  font-weight: bold

h4
  margin: 0
  color: $body-color

p
  line-height: 1.2
  user-select text
ul, ol
  margin: 0
  padding: 0
  list-style-type: none

a
  color: $link-color
  text-decoration: none

hr
  border: 0
  height: 1px
  margin: 42px 0
  position:relative
  background: linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 10%, rgba(211,211,211,0.65) 50%, rgba(0,0,0,0) 90%, rgba(0,0,0,0) 100%)

figure
  margin: 0
  padding: 0

.name
  margin-bottom: 0
  color: #0e77bd
  font-size: 0.875em

.price
  color: $price-color
  font-weight: bold
  font-size: 1.5em !important //TODO: Remove Phoenix styles if possible
  line-height: 1
  > .decimal
    font-size: 0.6666em
    position: relative
    top: -0.25em

.star
  height: 15px
  width: 15px
  display: inline-block
  background-image: url("images/icons/Star-InActive.svg")
  background-size: 15px

  &.rated
    background-image: url("images/icons/Star-Active.svg")

.rating
  margin-left: 0.5em
  position: relative
  top: -1px
  font-size: 0.875em

@media all and (min-width: 600px)
  .name
    font-size: 1.1875em

  .price
    font-size: 1.8em !important //TODO: Remove Phoenix styles if possible

  .star
    height: 17px
    width: 17px
    background-size: 17px;

  .rating
    top: -2px

