[data-view-name="click-paginator"]
  position: relative
  display: block
  
  min-height: 64px
  padding-bottom: 14px
  border-top: 1px solid #cccccc
  font-size: 14px;
  font-weight: bold;
  clear: both

  &.hidden
    display: none

  .search-stats
    color: #444444

  .search-stats-meta
    display: none

  > .search-results-count
    display: block
    float: left
    margin: 21px 0 0 12px
    text-align: center
    text-transform: uppercase

  .pagination-controls
    float: right
    margin: 12px
    text-align: center
  
    > span.search-results-page
      display: none
      padding-right: 16px
  
    > .button
      height: 36px
      width: 34px
  
    > .page-previous
      border-top-right-radius: 0
      border-bottom-right-radius: 0
      margin-right: -4px
      padding-top: 3px
  
    > .page-next
      border-top-left-radius: 0
      border-bottom-left-radius: 0
      padding-top: 3px
  
@media all and (min-width: 600px)
  [data-view-name="click-paginator"]
    min-height: 100px

    .search-stats-meta
      display: inline

    > .search-results-count
      position: absolute
      top: 40px
      left: 32px
      float: none
      margin: 0

    .pagination-controls
      position: absolute
      right: 32px
      top: 30px
      float: none
      margin: 0

      > span.search-results-page
        display: inline