.decimal
  font-size: .6666em
  position: relative
  top: -9px

.old-price
  position: absolute

.new-price, .bottom
  display: none

.dynamic-price
  position: relative

  .old-price
    .digit, .decimal
      .top, .bottom
        z-index: 50

      &.flipped
        .top
          animation: flipTop 0.4s linear both

        .bottom
          background-image: linear-gradient(top, rgba(0,0,0,0.15), transparent)
          background-repeat: no-repeat
          background-size: 50px
          animation: shadowBottom 0.4s linear both

  .new-price
    display: block

    .digit, .decimal
      .top, .bottom
        z-index: 1

      &.flipped
        .top
          animation: shadowTop 0.4s linear both

        .bottom
          animation: flipBottom 0.4s 0.4s linear both
          z-index: 100

  .digit, .decimal, .special
    position: relative
    display: inline-block
    text-align: center
    width: 20px
    margin: 1px
    height: 1em
    border-radius: 2px

  .special
    top: -7px
    width: 8px

    &:first-child
      width: 16px

  .decimal
    font-size: .6666em

  .digit, .decimal
    .top, .bottom
      position: absolute
      left: 0
      width: 100%
      height: 12px
      background: #fff
      border: 1px solid #ccc

    .top
      top: 0
      border-radius: 3px 3px 0 0
      overflow: hidden
      z-index: 2
      transition: 0.3s linear all
      transform-origin: 0 100%

    .bottom
      top: 10px
      bottom: 0
      display: block
      margin-top: 1px
      border-radius: 0 0 3px 3px
      overflow: hidden
      transform-origin: 0 0

      span
        position: relative
        top: -11px

@keyframes shadowTop
  0%
    box-shadow: inset 0 0 50px rgba(0,0,0,0.15)
  99%
    box-shadow: inset 0 0 50px rgba(0,0,0,0)
  100%
    box-shadow: none

@keyframes shadowBottom
  0%
    background-position: 0 -50px
  100%
    background-position: 0 0

@keyframes flipTop
  0%
    transform: rotateX(0deg)
  100%
    transform: rotateX(-90deg)

@keyframes flipBottom
  0%
    transform: rotateX(90deg)
  100%
    transform: rotateX(0deg)

@media all and (min-width: 600px)
  .dynamic-price
    .digit, .decimal, .special
      height: 30px

      .top
        height: 16px

      .bottom
        height: 15px
        top: 14px

        span
          top: -14px
        
    .decimal
      top: auto
