$font-family = MyriadPro

$font-color = #282a2b
$body-color = #bfbfbf
$price-color = #282a2b
$active-color = #3f4040
$selected-color = #3f4040
$link-color = #1b79b7

$separator-color = #f6f6f6

$content-spacing = 20px
$vertical-content-spacing = 36px

$header-height = 88px
$sub-nav-height = 51px
$segment-nav-height = $sub-nav-height

$input-height = 36px
$input-border-color = #bdbdbd
$input-border-radius = 6px
$input-inset-shadow = inset 0 1px 2px rgba(0,0,0,0.4)
$input-focus-ring = 0 0 6px #36a4eb
$input-focus-border-color = #36a4eb
$input-color = #272727
$input-error-border-color = #ffa7a7
$input-error-background-color = #ffecec
$input-error-color = #cc161e
$input-placeholder-color = #adadad


$modal-header-height = 90px
$modal-footer-height = 110px
$modal-border-radius = 10px

$panel-header-height = 104px
$panel-footer-height = 110px


$column-width = 60px
$gutter-width = 20px
$grid-padding = 10px
