[data-view-name="grid-toggle"]
  cursor: pointer
  position: absolute
  right: 0
  height: 44px
  width: 48px
  border: 1px solid #d1d1d1
  border-top: 0
  border-right: 0
  border-bottom-color: #bbb
  border-left: 1px solid #ccc
  background-image: linear-gradient(top, #fff 0%, #ededed 100%)
  -webkit-tap-highlight-color:rgba(0,0,0,0)

  &:active
    background-image: linear-gradient(top, #e0e0e0 0%, #f7f7f7 100%)
    box-shadow: 0px 1px 0px #a0a0a0 inset, 0px 2px 0px #cccccc inset, 0px -1px 0px #fff

  .active
    z-index: 1
    color: transparent
    text-shadow: none

  > *
    position: absolute
    z-index: 2
    float: left
    height: 44px
    width: 48px
    color: #414141
    font-size: 0
    line-height: 0
    text-align: center
    text-shadow: 0 1px 0 #fff

  i
    font-size: 24px
    line-height: 48px

@media all and (min-width: 800px)
  [data-view-name="grid-toggle"]
    right: 32px
    height: auto
    width: auto
    background: none
    border: none;

    &:active
      background: none
      box-shadow: none

    .active
      color: #414141

    > *
      position: static
      height: auto
      width: auto
      float: left
      padding-left: 28px
      font-size: 26px
      line-height: 84px
      color: #bfbfbf

