[data-view-name="header"]
  position: relative
  height: $header-height
  padding: 0 0 0 $gutter-width + 5
  margin-bottom: 64px
  background-color: white
  background-image: linear-gradient(#fdfdfd 0%, #eaedf0 40%, white 100%)
  border-bottom: 1px solid #e6e6e6
  box-shadow: inset 0 1px 0 white
  user-select: none

  .logo
    display: block
    height: $header-height
    text-indent: -9999em
    background-image: url("images/logo.svg")
    background-repeat: no-repeat
    background-size: 100% 100%
    background-position: 0 50%

  .header-logo
    span-columns(2.325)
    
  .header-actions
    white-space: nowrap
    overflow: hidden
    float: right
    span-columns(6.25 omega)
    text-align: right
    set-tap-highlight()
  
  .header-action
    display: inline-block
    height: $header-height
    text-align: left
    position: relative
    padding-left: gutter(4)
    padding-right: gutter(4)
    margin-right: 0
    padding-top: 24px
    color: #adb4bd
    font-size: 0.95em
    font-weight: normal
    -webkit-tap-highlight-color: rgba(0, 0, 0, .20)
    tap-highlight-color: rgba(0, 0, 0, .20)
  
    > span
      display: block
      margin-bottom: -5px
      margin-left: -2px
      font-weight: bold
      color: #535a5f
      text-shadow: 0 1px 0 rgba(white, 0.7)
      padding-left: 20px
      background-position: left 2px
      background-repeat: no-repeat
  
    &:after, &:before
      content: ''
      display: block
      position: absolute
      bottom: 16px
      top: 16px
      width: 1px
  
    &:before
      background-image: linear-gradient(rgba(#fff, 0) 0%, rgba(#fff,   1) 50%, rgba(#ff, 0) 100%)
      left: 0
  
    &:after
      background-image: linear-gradient(rgba(#d6d6d6, 0) 0%,   rgba(#d6d6d6, 1) 50%, rgba(#d6d6d6, 0) 100%)
      right: 0
  
    &:first-child:before, &:last-child:after
      display: none
  
    &[data-action="wishlists"] > span
      image-background("images/icons/TopNav-Wishlist.png")
  
    &[data-action="login"] > span
      image-background("images/icons/TopNav-SignIn.png")
  
    &[data-action="cart"] > span
      image-background("images/icons/TopNav-Cart.png")

@media all and (min-width: 800px)
  [data-view-name="header"]
    margin: 0
  