.shelf-department-picker, .refinements-toggle
  width: 50%
  height: 44px
  float: left
  margin: 0
  border-right: 0
  border-bottom-color: #bbb
  border-radius: 0
  font-size: 14px
  box-shadow: none

  &::after
    display: inline-block
    position: relative
    top: -1px
    width: 10px
    margin-left: 5px
    content: '+'

  &.open::after
    content: '\2013'

.shelf-department-picker
  border-left: 0

.refinements-toggle
  padding-right: 60px

.shelf-list
  clear: both

.item-preview
  display: block
  position: relative
  overflow: hidden
  padding: 16px 12px

  &::after
    position: absolute
    content: " "
    right: 0
    left: 0
    top: 0
    height: 1px
    background: linear-gradient(left, white 0%, #e5e5e5 25%, #e5e5e5 75%, white 100%)

  .stars
    position: relative
    margin-left: 112px

.item-preview-image
  float: left
  max-width: 100px

.item-preview-text
  padding: 0
  margin-left: 112px

@media all and (min-width: 600px)
  .item-preview
    display: table
    width: 100%;
    padding: 20px

    .stars
      display: table-cell
      width: 195px
      min-height: 100px
      padding: 8px 0 8px 20px
      vertical-align: middle

      &::after
        position: absolute
        content: " "
        left: 0
        top: 0
        bottom: 0
        width: 1px
        background: linear-gradient(top, white 0%, #e5e5e5 25%, #e5e5e5 75%, white 100%)
  
  .item-preview-image
    float: none
    display: table-cell
    width: 100px;
    vertical-align: middle

  .item-preview-text
    display: table-cell
    padding: 0 24px
    vertical-align: middle

@media all and (min-width: 800px)
  .shelf-sidebar
    float: left
    width: space(3)
    border-top: 1px solid #eee

  .shelf-primary
    float: left
    width: columns(9)
    border-left: 1px solid #ccc

  .shelf-department-picker, .refinements-toggle
    display: none;

  .shelf-list
    padding-left: 20px

  header.subnav
    height: 84px
    border-top: 1px solid #cccccc
    position: relative
    box-shadow: 0 7px 9px -5px rgba(0,0,0,0.2)
