[data-view-name="sort-selector"]
  > li
    cursor: pointer
    display: inline-block
    padding-left: 28px
    
    &:first-child
      cursor: inherit

  .active
    color: #444444

@media all and (min-width: 800px)
  [data-view-name="sort-selector"]
    position: absolute
    right: 0
    left: 0

    > li
      font-size: 26px
      line-height: 84px