<button type="button" class="refinement-category-btn">
  {{name}}
</button>
<ul class="collection refinement-items"></ul>
<ul class="selected-refinement-items">
  {{template "shelf/selected-refinement-items"}}
</ul>