<div class="main">
  <div class="actions content">
    <div class="button-container">
      <button type="button" class="button clear secondary-button">{{i18n "Reset"}}</button>
      <button type="button" class="button apply secondary-button primary-button icon">{{i18n "Apply"}}</button>
    </div>
  </div>

  <button class="select-refinement-store {{#if selectedStore}}checked{{/if}}">
    <div>
      {{template "shelf/refinement-list-store"}}
    </div>
  </button>

  <ul class="collection refinement-container"></ul>
</div>
{{view storeSelector}}