//error / 404 page
.error-page
  background #fafafa
  color #a5a5a5
  padding $contentPadding
  box-shadow inset 0px 0px 3px #999
  text-align center

  > h2
  > .info-header > div
    margin 1em 0
    padding 0
    color inherit
    font-weight normal
    font-size 1.3em

  > p
    margin 1.5em 0
